{% include header.html %}

<div class="wrap">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-2 hidden-xs">
                    {% include sidebar.html %}
                </div>
                <div class="col-md-6">
                    {{ content }}
                </div>
                <div class="col-md-4 hidden-xs">
                    {% include gitment-comments.html %} 
                </div>
            </div>

	</section>

    </div>

    {% include footer.html %}
</div>
